@font-face {
  font-family: myFont;
  src: url('../assets/fonts/Gobold_Regular.otf');
}

@font-face {
  font-family: myFont2;
  src: url('../assets/fonts/Product_Sans.ttf');
}

*{
  margin: 0px;
  padding: 0px;
}

.App{
  font-family: myFont2;
  overflow-x: hidden; 
  width: 100vw;
  margin: auto;
}